global:
  imageRegistry: ''
  imagePullSecrets: []
  storageClass: ''
nameOverride: ''
fullnameOverride: ''
replicaCount: 1
image:
  registry: docker.io
  repository: brammys/necesse-server
  tag: 1-1-1-21292486
  pullPolicy: IfNotPresent
  pullSecrets: []
  debug: false
necesse:
  world: world
  password: ''
  slots: 10
  owner: ''
  motd: This server is made possible by Helm!
  giveClientsPower: 1
  pause: 0
  logging: 1
  zip: 1
  jvmArgs: ''
containerPorts:
  game: 14159
service:
  type: LoadBalancer
  annotations: {}
  labels: {}
  loadBalancerIP: ''
  externalTrafficPolicy: Cluster
  ports:
    game:
      port: 14159
      protocol: UDP
persistence:
  enabled: true
  existingClaim: ''
  storageClass: ''
  accessModes:
  - ReadWriteOnce
  size: 10Gi
  annotations: {}
resources:
  limits: {}
  requests:
    cpu: 500m
    memory: 1Gi
livenessProbe:
  enabled: false
readinessProbe:
  enabled: false
podSecurityContext:
  enabled: true
  fsGroup: 1000
securityContext:
  enabled: true
  runAsUser: 1000
  runAsGroup: 1000
  runAsNonRoot: true
nodeSelector: {}
tolerations: []
affinity: {}
extraEnv: []
extraEnvFrom: []
extraVolumes: []
extraVolumeMounts: []
podAnnotations: {}
podLabels: {}
